ĺĺ* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  max-width: 400px;
}


.content {
  height: 100%;
  background: url(moutian-back.jpg);
  background-repeat: none;
  background-size: cover;
  background-position: center;
  padding-top: 20px;
}


img {
  width: 200px;
  margin: 0 100px;

}

.text {
  text-align: center;
  margin-top: -120px;
}

h1 {
  font-size: 60px;
  color: gold;
}

h2 {
  color: #00224D;
  font-weight: 800;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

form {
  width: 70%;
}

form input,
#option {
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: none;
  outline: none;
  border: 1px solid #fff;
  background: rgba(3, 58, 68, 0.5);
}

input::placeholder {
  color: white;
  font-size: 16px;
  font-weight: 900;
}

input:focus {
  font-size: 16px;
  color: white;
  font-weight: 700;
}


#option {
  font-size: 16px;
  color: #fff;
}

.op {
  background-color: rgb(231, 129, 56);
  color: white;
}

#ifexlogo {
  display: flex;
  justify-content: center;
  align-content: center;
  position: absolute;
  top: -7px;
  left: 25px;
  transform: translate(50px, 0px);
  width: 200px;
  z-index: -1;
}

h1 {
  text-align: center;
  margin-top: 120px;
}

#send {
  margin-top: 25px;
  background-color: #00224D;
  border: none;
  color: white;
  font-size: 20px;
  border-radius: 20px;
  font-weight: 400;
}

#login-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #fff;
  font-weight: 800;
}

#login {
  margin-left: 8px;
  color: gold;
}
